/*style-twentyone*/
.style-twentyone {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background: #59C173;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.style-twentyone * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.style-twentyone img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.style-twentyone figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 4px solid rgba(255, 255, 255, 0.05);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.style-twentyone h2,
.style-twentyone p {
  line-height: 1.5em;
  margin: 0;
}

.style-twentyone h2 {
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.style-twentyone p {
  padding: 8px 0 15px;
}

.style-twentyone a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.style-twentyone:hover > img,
.style-twentyone.hover > img {
  opacity: 0.2;
}

.style-twentyone:hover figcaption,
.style-twentyone.hover figcaption {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
