/*style-1*/
.style-one {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
    background: linear-gradient(to right, #021B79, #0575E6);
}

.style-one *,
.style-one *:before,
.style-one *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease;
}

.style-one img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
}

.style-one figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px 10px 10px;
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
    transform: rotate(45deg) translate(-50%, -50%);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.style-one figcaption:before,
.style-one figcaption:after {
    height: 2px;
    width: 400px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}

.style-one figcaption:before {
    top: 0;
    left: 10px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.style-one figcaption:after {
    bottom: 0;
    right: 10px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.style-one figcaption div:before,
.style-one figcaption div:after {
    width: 2px;
    height: 300px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}

.style-one figcaption div:before {
    top: 10px;
    right: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.style-one figcaption div:after {
    bottom: 10px;
    left: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.style-one h2,
.style-one h4 {
    margin: 0;
    text-transform: uppercase;
}

.style-one h2 {
    font-weight: 400;
}

.style-one h4 {
    display: block;
    font-weight: 700;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #000000;
}

.style-one a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.style-one:hover img,
.style-one.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5;
}

.style-one:hover figcaption,
.style-one.hover figcaption {
    opacity: 1;
}

.style-one:hover figcaption:before,
.style-one.hover figcaption:before,
.style-one:hover figcaption:after,
.style-one.hover figcaption:after,
.style-one:hover figcaption div:before,
.style-one.hover figcaption div:before,
.style-one:hover figcaption div:after,
.style-one.hover figcaption div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.style-one:hover figcaption:before,
.style-one.hover figcaption:before,
.style-one:hover figcaption:after,
.style-one.hover figcaption:after {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}


/* style-two*/
.style-two {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);
    background: linear-gradient(to right, #45B649, #DCE35B);
}

.style-two *,
.style-two *:before,
.style-two *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease;
}

.style-two img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
}

.style-two figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px 10px 10px;
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
    transform: rotate(45deg) translate(-50%, -50%);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.style-two figcaption:before,
.style-two figcaption:after {
    height: 2px;
    width: 400px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}

.style-two figcaption:before {
    top: 0;
    left: 10px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.style-two figcaption:after {
    bottom: 0;
    right: 10px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.style-two figcaption div:before,
.style-two figcaption div:after {
    width: 2px;
    height: 300px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}

.style-two figcaption div:before {
    top: 10px;
    right: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.style-two figcaption div:after {
    bottom: 10px;
    left: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.style-two h2,
.style-two h4 {
    margin: 0;
    text-transform: uppercase;
}

.style-two h2 {
    font-weight: 400;
}

.style-two h4 {
    display: block;
    font-weight: 700;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #000000;
}

.style-two a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.style-two:hover img,
.style-two.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5;
}

.style-two:hover figcaption,
.style-two.hover figcaption {
    opacity: 1;
}

.style-two:hover figcaption:before,
.style-two.hover figcaption:before,
.style-two:hover figcaption:after,
.style-two.hover figcaption:after,
.style-two:hover figcaption div:before,
.style-two.hover figcaption div:before,
.style-two:hover figcaption div:after,
.style-two.hover figcaption div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.style-two:hover figcaption:before,
.style-two.hover figcaption:before,
.style-two:hover figcaption:after,
.style-two.hover figcaption:after {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

/*style-three*/

.style-three {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    background-color: #000000;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.style-three *,
.style-three *:before,
.style-three *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.style-three img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
}

.style-three figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.style-three figcaption:before,
.style-three figcaption:after,
.style-three figcaption div:before,
.style-three figcaption div:after {
    opacity: 0;
}

.style-three figcaption:before,
.style-three figcaption:after {
    height: 50%;
    width: 50%;
    position: absolute;
    content: '';
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
    background: linear-gradient(to right, #ff6a00, #ee0979);

}

.style-three figcaption:before {
    top: 0;
    left: 0;
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
}

.style-three figcaption:after {
    bottom: 0;
    right: 0;
    -webkit-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%);
}

.style-three figcaption div:before,
.style-three figcaption div:after {
    width: 50%;
    height: 50%;
    position: absolute;
    content: '';
    background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
}

.style-three figcaption div:before {
    top: 0;
    right: 0;
    -webkit-transform: translate(-100%, 100%);
    transform: translate(-100%, 100%);
}

.style-three figcaption div:after {
    bottom: 0;
    left: 0;
    -webkit-transform: translate(100%, -100%);
    transform: translate(100%, -100%);
}

.style-three i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
    z-index: 1;
    opacity: 0;
}

.style-three a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.style-three:hover img,
.style-three.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5;
}

.style-three:hover i,
.style-three.hover i {
    opacity: 0.7;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.style-three:hover figcaption:before,
.style-three.hover figcaption:before,
.style-three:hover figcaption:after,
.style-three.hover figcaption:after,
.style-three:hover figcaption div:before,
.style-three.hover figcaption div:before,
.style-three:hover figcaption div:after,
.style-three.hover figcaption div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0.8;
}

/*style-four*/
.style-four {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    background-color: #000000;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.style-four *,
.style-four *:before,
.style-four *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.style-four img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
}

.style-four figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.style-four figcaption:before,
.style-four figcaption:after,
.style-four figcaption div:before,
.style-four figcaption div:after {
    opacity: 0;
}

.style-four figcaption:before,
.style-four figcaption:after {
    height: 50%;
    width: 50%;
    position: absolute;
    content: '';
    background-color: #080808;
}

.style-four figcaption:before {
    top: 0;
    left: 0;
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
}

.style-four figcaption:after {
    bottom: 0;
    right: 0;
    -webkit-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%);
}

.style-four figcaption div:before,
.style-four figcaption div:after {
    width: 50%;
    height: 50%;
    position: absolute;
    content: '';
    background-color: #000000;
}

.style-four figcaption div:before {
    top: 0;
    right: 0;
    -webkit-transform: translate(-100%, 100%);
    transform: translate(-100%, 100%);
}

.style-four figcaption div:after {
    bottom: 0;
    left: 0;
    -webkit-transform: translate(100%, -100%);
    transform: translate(100%, -100%);
}

.style-four i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1em;
    z-index: 1;
    opacity: 0;
}

.style-four a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.style-four:hover img,
.style-four.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5;
}

.style-four:hover i,
.style-four.hover i {
    opacity: 0.7;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.style-four:hover figcaption:before,
.style-four.hover figcaption:before,
.style-four:hover figcaption:after,
.style-four.hover figcaption:after,
.style-four:hover figcaption div:before,
.style-four.hover figcaption div:before,
.style-four:hover figcaption div:after,
.style-four.hover figcaption div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0.8;
}
/*style-five*/
.style-five {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  background: #ee0979;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: 3px solid #34495e;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.style-five *,
.style-five *:before,
.style-five *:after {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.style-five img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.style-five i {
  position: absolute;
  line-height: 50px;
  width: 50px;
  text-align: center;
  font-size: 28px;
  z-index: 1;
  top: 0;
  right: 0;
  -webkit-transform: translate(100%, -100%);
  transform: translate(100%, -100%);
}

.style-five i:after {
  position: absolute;
  top: 3px;
  right: 3px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 75px 75px 0;
  border-color: transparent #34495e transparent;
  z-index: -1;
}

.style-five a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.style-five:hover img,
.style-five.hover img {
  zoom: 1;
  filter: alpha(opacity=70);
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.style-five:hover i,
.style-five.hover i {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
/*style-six*/
.style-six {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  font-size: 16px;
  line-height: 1.2em;
}
.style-six *,
.style-six *:before,
.style-six *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.style-six:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  content: '';
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.style-six img {
  max-width: 100%;
  vertical-align: top;
}
.style-six .icons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.style-six a {
  margin: 2px;
  opacity: 0;
  text-decoration: none;
}
.style-six a i {
  display: block;
  font-size: 15px;
  line-height: 40px;
  width: 40px;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
}
.style-six a i:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}
.style-six a:first-of-type {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.style-six a:last-of-type {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.style-six:hover:before,
.style-six.hover:before {
  opacity: 0.5;
}
.style-six:hover a,
.style-six.hover a {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/*style-seven*/
.style-seven  {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  font-size: 16px;
  line-height: 1.2em;
}
.style-seven  *,
.style-seven  *:before,
.style-seven  *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.style-seven:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  content: '';
  background: #41295a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  opacity: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.style-seven  img {
  max-width: 100%;
  vertical-align: top;
}
.style-seven .icons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.style-seven  a {
  margin: 2px;
  opacity: 0;
  text-decoration: none;
}
.style-seven  a i {
  display: block;
  font-size: 15px;
  line-height: 40px;
  width: 40px;
  background: #41295a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  color: #fff;
}
.style-seven  a i:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}
.style-seven a:first-of-type {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.style-seven a:last-of-type {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.style-seven:hover:before,
.style-seven.hover:before {
  opacity: 0.5;
}
.style-seven:hover a,
.style-seven .hover a {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/*style-eight*/
.style-eight {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  background-color: #000000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.style-eight *,
.style-eight *:before,
.style-eight *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.style-eight img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}
.style-eight figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.style-eight figcaption:before,
.style-eight figcaption:after,
.style-eight figcaption div:before,
.style-eight figcaption div:after {
  opacity: 0;
  -webkit-transform: scale(0.05);
  transform: scale(0.05);
}
.style-eight figcaption:before,
.style-eight figcaption:after {
  height: 50%;
  width: 50%;
  position: absolute;
  content: '';
  background-color: #080808;
}
.style-eight figcaption:before {
  top: 0;
  left: 0;
}
.style-eight figcaption:after {
  bottom: 0;
  right: 0;
}
.style-eight figcaption div:before,
.style-eight figcaption div:after {
  width: 50%;
  height: 50%;
  position: absolute;
  content: '';
  background-color: #000000;
}
.style-eight figcaption div:before {
  top: 0;
  right: 0;
}
.style-eight figcaption div:after {
  bottom: 0;
  left: 0;
}
.style-eight i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1em;
  z-index: 1;
  opacity: 0;
}
.style-eight a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.style-eight:hover img,
.style-eight.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
.style-eight:hover i,
.style-eight.hover i {
  opacity: 0.7;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.style-eight:hover figcaption:before,
.style-eight.hover figcaption:before,
.style-eight:hover figcaption:after,
.style-eight.hover figcaption:after,
.style-eight:hover figcaption div:before,
.style-eight.hover figcaption div:before,
.style-eight:hover figcaption div:after,
.style-eight.hover figcaption div:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 0.8;
}
.style-eight:hover figcaption:before,
.style-eight.hover figcaption:before {
  -webkit-transition-delay: 0;
  transition-delay: 0;
}
.style-eight:hover figcaption:after,
.style-eight.hover figcaption:after {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.style-eight:hover figcaption div:before,
.style-eight.hover figcaption div:before {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.style-eight:hover figcaption div:after,
.style-eight.hover figcaption div:after {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/*style-nine*/

.style-nine {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  background: #41295a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.style-nine * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.style-nine img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.style-nine figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 30px;
 background: #41295a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.style-nine h2,
.style-nine h3,
.style-nine p {
  margin: 0;
}

.style-nine h2,
.style-nine h3 {
  line-height: 1.2em;
}

.style-nine h2 {
  font-size: 1.9em;
  color: #35ADF9;
}

.style-nine h3 {
  color: #EBEBEB;
  font-size: 1.3em;
  font-weight: normal;
  letter-spacing: 1px;
}

.style-nine p {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 0.9em;
  margin-top: 12px;
  padding: 12px 0 15px;
  line-height: 1.5em;
}

.style-nine a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.style-nine:hover > img,
.style-nine.hover > img {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.style-nine:hover figcaption,
.style-nine.hover figcaption {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

/*style-ten*/
.style-ten {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
  line-height: 1.5em;
}
.style-ten *,
.style-ten *:before,
.style-ten *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.style-ten img {
  width: calc(120%);
  backface-visibility: hidden;
  vertical-align: top;
}
.style-ten figcaption {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
  padding: 5px 40px;
  opacity: 0;
}
.style-ten h3 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}
.style-ten p {
  font-weight: 400;
  margin: 0;
  font-size: 0.9em;
}
.style-ten i {
  position: absolute;
  color: #fff;
  font-size: 34.375px;
  line-height: 55px;
  width: 55px;
  bottom: 0;
  right: 0;
  background-color: #c0392b;
  -webkit-transform: translateX(55px);
  transform: translateX(55px);
}
.style-ten a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.style-ten:hover img,
.style-ten.hover img {
  zoom: 1;
  filter: alpha(opacity=30);
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px);
}
.style-ten:hover figcaption,
.style-ten.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
}
.style-ten:hover i,
.style-ten.hover i {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
